[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=atrus
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/home/atrus/bin/bebop_lock

[Install]
WantedBy=sleep.target