.gitconfig
spacemacs/.spacemacs.d/private/cf-work/
spacemacs/.spacemacs.d/private/cf-work
spacemacs/.spacemacs.d/.custom-settings.el

misc/.config/*
!misc/.config/dunst/
emacs/.cache/
emacs/.emacs.d/elpa/

work/
/.DS_Store
