[user]
	name = Christopher Findeisen
	email = cfindeisen7@gmail.com
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
	default = simple
[remote "origin"]
	url = git@github.com:Atrus7/dotfiles.git
        fetch = git@github.com:Atrus7/dotfiles.git
        push = git@github.com:Atrus7/dotfiles.git
