[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs

[submodule "linux/bin/i3lock"]
	path = linux/bin/i3lock
	url = https://github.com/Atrus7/i3lock
[submodule "spacemacs/.spacemacs.d/external/org-marginalia"]
	path = spacemacs/.spacemacs.d/external/org-marginalia
	url = git@github.com:nobiot/org-marginalia.git
[submodule "linux/bin/paperview"]
	path = linux/bin/paperview
	url = https://github.com/glouw/paperview.git
