[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "i3/.i3/bumblebee-status"]
	path = i3/.i3/bumblebee-status
	url = https://github.com/tobi-wan-kenobi/bumblebee-status
