.gitconfig
spacemacs/.spacemacs.d/private/cf-work/
spacemacs/.spacemacs.d/private/cf-work
spacemacs/.spacemacs.d/.custom-settings.el

misc/.config/*
!misc/.config/dunst/
emacs/.cache/
emacs/.emacs.d/elpa/

work/
/.DS_Store

/linux/.ssh/*
/zsh/.zsh/priv.zsh
/i3/.i3/logfile
/spacemacs/.spacemacs.d/private/cf-opinions/persp.el

*.pdf
*.tex
/spacemacs/.spacemacs.d/private/cf-org/publishing/latex_setup.org
/spacemacs/.spacemacs.d/private/local/
/linux/bin/start_wallpaper
