#include "/home/atrus/.Xcolors/gruvbox"
#include "/home/atrus/.Xcolors/gruvbox_urxvt256"
Xft.dpi : 227
Xft.antialias: true
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.rgba: rgb
Xcursor.size: 32


URxvt.internalBorder: 19
URxvt.cursorBlink: true
URxvt.scrollBar: false

URxvt.perl-ext-common: default,matcher,clipboard
URxvt.iso14755: False
URxvt.urlLauncher: google-chrome
URxvt.matcher.button: 1
URxvt.saveLines:3000

URxvt.keysym.Shift-Control-V: perl:clipboard:paste


URxvt.font: xft:Hack:size=7
